@import "../../globall.scss";

.services {
    width: 100%;
    height: calc(100vh + 150px);
    background-color: #fff;
    position: relative;
    @include mobile {
        height: calc(100vh + 350px);
    }

    h1 {
        font-weight: 800;
        font-size: 32px;
        line-height: 32px;
        align-items: center;
        color: #ba723d;
        margin-left: 235px;
        margin-top: 165px;
        @include mobile {
            margin-top: 60px;
            margin-left: 20px;
        }
        @include tablet {
            margin-top: 150px;
            margin-left: 20px;
        }
    }
    .line {
        position: absolute;
        top: 205px;
        left: 235px;
        width: 32px;
        height: 2px;
        background-color: #ba723d;
        @include mobile {
            top: 100px;
            left: 20px;
        }
        @include tablet {
            top: 195px;
            left: 20px;
        }
    }

    .wrapper {
        margin-top: 60px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 1200px;
        @include mobile {
            flex-direction: column;
            width: 100%;
            margin-left: 0;
        }
        @include tablet {
            flex-direction: column;
            width: 100%;
            margin-left: 0;
        }
        .section {
            display: flex;
            flex-direction: column;
            width: 416px;
            height: 100%;
            margin-top: 48px;
            @include mobile {
                width: 100%;
            }

            .title {
                position: relative;

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #ba723d;
                    margin-bottom: 14px;
                    margin-left: 89px;
                    @include mobile {
                        width: 250px;
                    }
                }
            }
            img {
                position: absolute;
                width: 30px;
                @include mobile {
                    width: 47px;
                    left: 15px;
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
                color: #0d1a20;
                padding-left: 89px;
            }
        }
    }
}
