@import "../../globall.scss";

.topbar {
    width: 100%;
    top: 10;
    z-index: 99999;

    .wrapper {
        width: 100%;
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            padding-top: 10px;
        }

        .left {
            padding-left: 70px;
            @include mobile {
                padding-left: 15px;
            }
            img {
                width: 245px;
                height: 60px;
                @include mobile {
                    width: 140px;
                    height: 40px;
                }
            }
        }

        .right {
            padding-left: 27px;
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
            .link {
                padding-right: 40px;
                font-weight: 500;
                font-size: 17px;
                line-height: 23px;
                color: #fe7c54;
                opacity: 0.8;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    color: #f9480b;
                }
                &:active {
                    color: #f9480b;
                }
            }
        }

        .hamburger {
            margin-right: 20px;
            @include desktop {
                display: none;
            }
            @include tablet {
                margin-right: 20px;
            }
        }

        .menu {
            width: 350px;
            height: 100vh;
            background-color: #f8ccab;
            position: fixed;
            top: 0;
            right: -100px;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 40px;

            .social {
                position: absolute;
                bottom: 70px;
                left: 105px;
                img {
                    width: 32px;
                    margin-right: 16px;
                }
            }
            .exit {
                width: 30px;
                position: fixed;
                top: 40px;
                right: 20px;
                &.active {
                    display: none;
                }
            }
            &.active {
                display: none;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                font-size: 30px;
                font-weight: 300;
                color: white;
                width: 60%;

                li {
                    margin-bottom: 25px;
                    a {
                        font-size: inherit;
                        color: inherit;
                        text-decoration: none;
                    }

                    &:hover {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
