@import "../../globall.scss";

.clients {
    width: 100%;
    height: calc(100vh + 100px);
    background-color: #0d1a20;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include tablet {
        height: 100vh;
    }

    .chevronRight {
        cursor: pointer;
        top: 450px;
        left: 199px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-self: center;
        border: 1px solid #ffffff;
        z-index: 8;
        .arrowRight {
            transform: rotate(180deg);
            padding: 16px;
        }

        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
    .chevronLeft {
        position: absolute;
        top: 450px;
        right: 199px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        z-index: 8;
        cursor: pointer;
        .arrowLeft {
            padding: 16px;
        }
        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
    .line {
        position: absolute;
        top: 210px;
        left: 235px;
        width: 32px;
        height: 2px;
        background-color: #ffffff;

        @include mobile {
            top: 100px;
            left: 25px;
        }
        @include tablet {
            top: 195px;
            left: 20px;
        }
    }

    h1 {
        position: absolute;
        top: 165px;
        left: 235px;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 32px;
        align-items: center;
        color: #ffffff;
        scrollbar-width: none; // for firefox!
        &::-webkit-scrollbar {
            display: none;
        } //for other browsers!
        @include mobile {
            top: 60px;
            left: 20px;
        }
        @include tablet {
            top: 150px;
            left: 20px;
        }
    }

    .slider {
        margin-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            margin-top: -250px;
        }
        @include tablet {
            margin-top: -150px;
        }

        .wrapper {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .item {
                width: 700px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h3 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 17px;

                    /* or 142% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;

                    /* Style/White */
                    color: #ffffff;
                }
                span {
                    font-style: normal;
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 17px;

                    /* or 142% */
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ffffff;
                }
                .profile {
                    border-radius: 132px;
                    width: 90px;
                    height: 90px;
                    margin-bottom: 27px;
                }
                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                    margin-top: 16px;
                }
            }
        }
    }

    .scroll {
        width: 140px;
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 8;
        margin-top: 500px;
        @include mobile {
            position: absolute;
            top: 90px;
        }
        @include tablet {
            position: absolute;
            top: 150px;
        }
        span {
            width: 100%;
            background-color: #9797bf;
            height: 3px;
            margin-left: 12px;
            &.active {
                background-color: #ffffff;
            }
        }
    }
}
