@import "../../globall.scss";

.intro {
    height: calc(100vh + 250px);
    position: relative;
    background: linear-gradient(180deg, #f8ccab 0%, #fdebdd 100%);
    z-index: 5;
    @include tablet {
        height: 800px;
    }

    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        margin-top: 80px;
        display: flex;
        align-content: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @include tablet {
            margin-top: 150px;
            justify-content: center;
        }

        .left {
            flex: 0.5;
            @include mobile {
                flex: 0.3;
            }
            .wrapper {
                margin-top: 150px;
                padding-left: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include mobile {
                    margin-top: 0;
                    padding-left: 16px;
                }

                h1 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 64px;

                    @include mobile {
                        font-weight: 800;
                        font-size: 32px;
                        line-height: 44px;
                        color: #0d1a20;
                    }
                    @include tablet {
                        font-weight: 800;
                        font-size: 32px;
                        line-height: 44px;
                        color: #0d1a20;
                    }
                }
                h2 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 42px;

                    @include mobile {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 33px;

                        /* identical to box height */

                        color: #0d1a20;
                    }
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    @include mobile {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 26px;

                        /* or 173% */

                        color: #0d1a20;
                    }
                }
            }
        }

        .right {
            flex: 0.5;
            @include mobile {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                margin-left: 100px;
                height: 80%;
                @include mobile {
                    margin-left: 0;
                    align-content: center;
                    justify-content: center;
                    margin-top: 0px;
                    height: 450px;
                }
                @include tablet {
                    height: 450px;
                    margin-left: 0;
                    align-content: center;
                    justify-content: center;
                }
            }
        }
    }
    .scroll {
        display: flex;
        animation: scrollBlink 2s infinite;
        margin-left: 69px;
        margin-top: -220px;
        @include mobile {
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
        @include tablet {
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
        }

        @keyframes scrollBlink {
            100% {
                opacity: 0;
            }
        }
        a {
            text-decoration: none;
            color: inherit;
            span {
                display: flex;
                align-items: center;
                padding-bottom: 30px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                transform: rotate(-90deg);
            }
        }
    }
}
