@import "../../globall.scss";

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #f8ccab 0%, #fdebdd 100%);
    z-index: 5;

    .header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container {
        margin-top: 80px;
        display: flex;
        height: 100vh;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .left {
            flex: 0.5;
            .wrapper {
                margin-top: 150px;
                padding-left: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include mobile {
                    margin-top: 60px;
                    padding-left: 16px;
                    padding-bottom: -150px;
                }

                h1 {
                    font-style: normal;
                    font-weight: 800;
                    font-size: 64px;

                    @include mobile {
                        font-weight: 800;
                        font-size: 32px;
                        line-height: 44px;
                        color: #0d1a20;
                    }
                }
                h2 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 42px;

                    @include mobile {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 33px;

                        /* identical to box height */

                        color: #0d1a20;
                    }
                }
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    @include mobile {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 26px;

                        /* or 173% */

                        color: #0d1a20;
                    }
                }
                .scroll {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    bottom: 150px;
                    left: 70px;
                    animation: scrollBlink 2s infinite;

                    @keyframes scrollBlink {
                        100% {
                            opacity: 0;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        padding-bottom: 30px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        transform: rotate(-90deg);
                    }

                    @include mobile {
                        left: 180px;
                        bottom: 120px;
                    }
                }
            }
        }

        .right {
            flex: 0.5;
            @include mobile {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img {
                margin-left: 100px;
                height: 85%;
                @include mobile {
                    position: absolute;
                    top: 320px;
                    left: -40px;
                    height: 40%;
                }
            }
        }
    }
}
