.app {
    height: 100vh;
    position: relative;

    .sections {
        width: 100%;
        height: 100vh;
        top: 0;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // for firefox!
        &::-webkit-scrollbar {
            display: none;
        } //for other browsers!

        > * {
            width: 100vw;
            scroll-snap-align: start;
        }
    }
}
