$width: 768px;
$desktop: 1281px;
$tablet: 1080px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet})and (min-width:801px) {
        @content;
    }
}
